* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navegacao {
    margin-top: 23px;
    background-color: #ff7212;
    margin-left: 100px;
    color: white;
    width: 93%;
}

.navegacao h1 {
    margin-left: 20px;
}

.titulo h1 {
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 30px;
    color: black;
    font-size: 48px;
}

.local-data h2 {
    margin-left: 120px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.local-data {
    margin-bottom: 50px;
}
.conteudo {
    margin-bottom: 50px;
    margin-top: 50px;
}
.conteudo p {
    line-height: 2rem;
    width: 900px;
    margin-bottom: 16px;
    margin-left: 120px;
    color: #484848;
    margin-top: 16px;
}

img {
    margin-top: 30px;
    margin-left: 120px;
    width: 40%;
}

figcaption {
    margin-left: 120px;
    font-size: 12px;
    margin-bottom: 30px;
}

.video {
    margin-left: 120px;
    margin-bottom: 16px;
}

.video iframe {
    width: 60%;
    height: 400px;
}

h3 {
    margin-bottom: 16px;
}

.saiba-mais {
    margin-left: 120px;
}

li {
    
    list-style: none;
}
li a{
    color: #484848;
    font-size: 18px;
    line-height: 2rem;
}